*{
  box-sizing: border-box;
  margin: 0;
  
}

body{
  height: 100%;  
  font-family: "Inter";
}

.home, .about{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 26px;
  background-color: #FFF7ED;
}

.header-links a:hover{
  text-decoration: underline;
  font-weight: bold;
}

.header img{
  height: 1.40rem;
  width: 9rem;
}

.links-container *{
  color: #4D4D4D;
  text-decoration: none;
  font-weight: 600;
  margin-right: 1rem;
  cursor: pointer;
}

/* Hero */

.hero-container{
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3rem 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.hero-container h1, .hero-container p, .hero-container button {
  position: relative;
  z-index: 2;
  text-align: left;
  margin-bottom: 1.3rem;
}

.hero-container h1{

  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.625rem;

}

.hero-container p{

  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.hero-container button{
  padding: 0.8rem 0 0.8rem 0;
  text-align: center;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: #FF8C38;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
}

/* about */

.about-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.about-img{
  width: 100px;
  margin-bottom: 0;
}

.about-container h1{
  margin: 0 0 1rem 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #161616;
}

.about-container p{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.about-explore-container{
  margin-top: 2rem;
  background-color: #FFCC8D;
  padding: 1.8rem;
  border-radius: 0.3rem;
}

.about-explore-container h1{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #161616;
}

.about-explore-container a{
  font-size: 15.95px;
  font-weight: 700;
  line-height: 23.92px;
  background-color: #161616;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  display: inline-block;
  border-radius: 0.5rem;

}

/* Footer */

.footer{
  color: #AAAAAA;
  background-color: #252525;
  padding: 1.3rem 0;
}

.footer p{
  font-size: 14px;
  font-weight: 500;
  line-height: 22.92px;
  text-align: center;

}

.about-container{
  height: 100vh;
}

.about-img{
  width: 100%;
}


/* van list */

.vans-container{
  padding: 0 2rem;
  margin-top: 3rem;
  flex-grow: 1;
}
.vans-container h1{
  margin: 0;
}

.filter-btns{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

}

.filter-btn{
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  width: auto;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #4D4D4D;
  background-color: #FFEAD0;
}

.filter-btn.simple:hover, .filter-btn.simple.select{
  background-color: #E17654;
  color: #FFFFFF;
  transition: 0.3s;
}

.filter-btn.rugged:hover, .filter-btn.rugged.select{
  background-color: #115E59;
  color: #FFFFFF;
  transition: 0.3s;
}

.filter-btn.luxury:hover, .filter-btn.luxury.select{
  background-color: #161616;
  color: #FFFFFF;
  transition: 0.3s;
}

.clear-btn{
  font-size: 1rem;
  font-weight: 500;
  color: #4D4D4D;
  background: none;
  border: none;
  text-decoration: underline ;
}


.vans-list-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
}


.van-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.van-desc-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
}

.van-desc-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.van-name{
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  color: #161616;
}

.van-price{
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
  color: #161616;
}

.van-desc-btn{
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #FFEAD0;
  align-self: flex-start;
}


/* VanDetails */

.van-details-container{
  display: flex;
  flex-direction: column;
  
}

.van-detail{
  padding: 36px 26px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.back-link{
  color: #201F1D;
}

.van-desc{
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  display: inline-block;
  color: #FFFFFF;
  align-self: start;
}

.van-det-btn{
  padding: 0.9rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  background-color: #FF8C38;
}


.no-underline{
  text-decoration: none;
}

.no-bold{
  font-weight: 500;
  font-size: 1.3rem;
}

/* Host */
.host-layout{
  background-color: #FFF7ED;
}

.host-links{
  padding: 2rem 1.5rem;
}

.host-links a:hover{
  text-decoration: underline;
  font-weight: 700;
}



.active-link{
  text-decoration: underline;
  font-weight: bold;
}

/* Host Van List */
.host-van-container,
.host-van-details-container{
  padding: 0 2rem;
}

.host-van-list-container{
  margin-top: 2rem;
  display: grid;
}

.host-van-container img{
  width: 5rem;
  border-radius: 6px;
}

.host-van-card{
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 1.3rem;
  margin-bottom: 1rem;
  gap: 1rem;
  border-radius: 6px;
}

.host-van-title,
.host-van-name{
  color: #161616;
}

.host-van-title{
  font-size: 2rem;
}

.host-van-price{
  color: #4D4D4D;
}

/* Host Vans Details */

.host-van-details-container{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.host-van-details-card{
  display: flex;
  gap: 1.5rem;
  background-color: #FFFFFF;
  padding: 1.8rem;
  border-radius: 0.4rem;
}

.host-van-details-card img{
  width: 180px;
  border-radius: 0.4rem;
}

.host-van-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.van-host-desc-btn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #FFEAD0;
  align-self: flex-start;
}

.host-van-details-links a{
  
  text-decoration: none;
  font-weight: 600;
  margin-right: 2rem;
  cursor: pointer;
  color: #4D4D4D;
  
}

.host-van-details-links{
  padding: 0 1.8rem;
  background-color: #FFFFFF;
}

.host-van-details-links .active-link{
  text-decoration: underline;
  font-weight: bold;
}

.host-van-details-links a:hover{
  text-decoration: underline;
  font-weight: 700;
}

.host-van-details-outlet{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #FFFFFF;
}

.host-van-back-link{
  color: #201F1D;
  padding: 2rem;
}

.host-van-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.host-van-info-photo{
  width: 150px;
  border-radius: 0.4rem;
}

.host-van-pricing{
  color: #4D4D4D;
}

.host-van-pricing span{
  font-size: 1.7rem;
  color: #161616;
}