*{
  box-sizing: border-box;
  margin: 0;
  
}

body{
  height: 100%;  
}

.home, .about{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 26px;
  background-color: #FFF7ED;
}

.header img{
  height: 1.40rem;
  width: 9rem;
}

.links-container *{
  color: #4D4D4D;
  text-decoration: none;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
  font-family: 'Inter', Courier, monospace;
}

/* Hero */

.hero-container{
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3rem 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.hero-container h1, .hero-container p, .hero-container button {
  position: relative;
  z-index: 2;
  font-family: Inter; 
  text-align: left;
  margin-bottom: 1.3rem;
}

.hero-container h1{

  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.625rem;

}

.hero-container p{

  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.hero-container button{
  padding: 0.8rem 0 0.8rem 0;
  text-align: center;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: #FF8C38;
  color: #FFFFFF;
  font-family: Inter;
  font-weight: 700;
  border: none;
}

/* about */

.about-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.about-img{
  width: 100px;
  margin-bottom: 0;
}

.about-container h1{
  font-family: Inter;
  margin: 0 0 1rem 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #161616;
}

.about-container p{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.about-explore-container{
  margin-top: 2rem;
  background-color: #FFCC8D;
  padding: 1.8rem;
  border-radius: 0.3rem;
}

.about-explore-container h1{
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #161616;
}

.about-explore-container a{
  font-family: Inter;
  font-size: 15.95px;
  font-weight: 700;
  line-height: 23.92px;
  background-color: #161616;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  display: inline-block;
  border-radius: 0.5rem;

}

/* Footer */

.footer{
  color: #AAAAAA;
  background-color: #252525;
  padding: 1.3rem 0;
}

.footer p{
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.92px;
  text-align: center;

}

.about-container{
  height: 100vh;
}

.about-img{
  width: 100%;
}
